02_Data_Files/01_Raw_IFC/
02_Data_Files/01_Raw_IFC/01_Expanded
02_Data_Files/02_Object_Files/
02_Data_Files/03_SDF_Converted/
02_Data_Files/04_SDF_Results/
02_Data_Files/05_Graph/
02_Data_Files/06_Back_Ups/